{% extends 'base.html' %}

{% block content %}
<div class="container-sm w-75">
{#<div class="w-50">#}
{##}
{#</div>#}
    <br>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>It is important to do the right thing, at the right time, for the right reason,
             otherwise the action becomes impure and ultimately self-destructive.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            J Michael Straczynski from <cite title="Source Title">Babylon 5</cite>
        </figcaption>
    </figure>
</div>
{% endblock %}