{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="justify-content-start">

        <div class="row justify-content-center">
            <div class="col-8 h2 text-center">William Powers</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 h4 text-center">williamtpowers@gmail.com</div>
        </div>

        <br>

        <div class="row">
            <p class="text-center">
            I like to build things and see people use them. What should we make?
            </p>
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-4 h3 text-center">EXPERIENCE</div>
        </div>

        <div class="row">
            <div class="h4">WeTrade Labs</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4 h5">2021 – Present</div>
            <div class="col-4 h5 text-end">Austin, TX</div>
        </div>
        <ul>
            <li>Full stack software development for algorithmic trading code with the Backtrader Library.</li>
            <li>Worked with the founder to implement strategies and debugging.</li>
            <li>Python, SQLite3, Flask, HTML, CSS, JSON, APIs, etc.</li>
        </ul>

        <div class="row">
        <div class="h4">Box Table Studios</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4 h5">2013 – 2021</div>
            <div class="col-4 h5 text-end">Austin, TX</div>
        </div>
        <ul>
            <li>Engineering, production, testing of various furniture designs.</li>
            <li>Designer for 6 patents and Patent Drawings, listed at bottom.</li>
            <li>Aluminum and steel sheet metal design, 3d printing experience in SLA, SLS and FDM.</li>
        </ul>

        <div class="row">
        <div class="h4">Modern Designs</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4 h5">2015 – 2018</div>
            <div class="col-4 h5 text-end">Austin, TX</div>
        </div>
        <ul>
            <li>Founder of Custom Desk company.</li>
            <li>Engineering, design and production of custom desks.</li>
            <li>CNC experience, Premium Plywood design specialty.</li>
        </ul>

        <div class="row">
        <div class="h4">PumpTire</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4 h5">2011</div>
            <div class="col-4 h5 text-end">Austin, TX</div>
        </div>
        <ul>
            <li>Coordinated marketing strategy for Kickstarter campaign</li>
            <li>Created Excel database for communications management.</li>
            <li>Responsible for getting articles written on CNET, Gizmodo, Engadget, Bike Rumor, Bike Radar, etc.</li>
        </ul>

        <br>

        <div class="row justify-content-center">
            <div class="col-4 h3 text-center">EDUCATION</div>
        </div>

        <div class="row">
        <div class="h4">Stanford University</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4 h5">2020</div>
            <div class="col-4 h5 text-end">Austin, TX</div>
        </div>
        <ul>
            <li>Computer Science class CS106a</li>
            <li>“Code in Place” quarantine class in Computer Science using Python</li>
        </ul>

        <div class="row">
        <div class="h4">Udemy</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4 h5">2019-2021</div>
            <div class="col-4 h5 text-end">Austin, TX</div>
        </div>
        <ul>
            <li>Python Masterclass</li>
{#            <li>MongoDB - The Complete Developers Guide</li>#}
            <li>Algorithmic Trading & Quantitative Analysis Using Python</li>
        </ul>

        <div class="row">
        <div class="h4">Southern Methodist University</div>
        </div>
        <div class="h5">Bachelors of Science in Economics with a Minor in Finance</div>
        <div class="row justify-content-between">
            <div class="col-4 h5">2003-2007</div>
            <div class="col-4 h5 text-end">Dallas, TX</div>
        </div>
        <ul>
            <li>Economics Club President.</li>
            <li>Toastmasters Public Speakers - 2nd in Dallas Area Speakers Series Competition</li>
            <li>Almost Second Minor in English</li>
            <li>Summer MBA - Cox School of Business</li>
        </ul>

        <div class="row">
            <div class="h4">Oxford University</div></div>
            <div class="row justify-content-between">
                <div class="col-4 h5">2006</div>
                <div class="col-4 h5 text-end">Oxford, England</div>
        </div>
        <ul>
            <li>Summer School at University College</li>
        </ul>

        <div class="row">
            <div class="h4">Suzhou University</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4 h5">2005</div>
            <div class="col-4 h5 text-end">Suzhou, China</div>
        </div>
        <ul>
            <li>Summer School traveling throughout China</li>
            <li>Studied in Suzhou, Shanghai and Beijing</li>
        </ul>

        <div class="row">
            <div class="h4">SolidWorks CAD Professional</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4 h5">2016</div>
            <div class="col-4 h5 text-end">Austin, TX</div>
        </div>
        <ul>
            <li>CSWP Certified Solidworks Professional</li>
            <li>Certification #C-DATMWR7M6K</li>
        </ul>

        <div class="row">
            <div class="h4">Austin Community College</div>
        </div>
        <div class="h4">Engineering Computer Aided Design Program</div>
        <div class="row justify-content-between">
            <div class="col-4 h5">2010-2011</div>
            <div class="col-4 h5 text-end">Austin, TX</div>
        </div>
        <ul>
            <li>SolidWorks</li>
            <li>3D Printing</li>
            <li>AutoCAD</li>
            <li>Hand Drafting</li>
        </ul>

        <br>

        <div class="row justify-content-center">
            <div class="col-4 h3 text-center">PATENTS</div>
        </div>
        <div class="row">
            <p><strong><a href="https://patents.google.com/patent/US10005480B2" target="_blank" rel="noopener noreferrer">U.S. Patent No. 10,005,480</a></strong> - A Box with wheels that has a side (or door) with extendable legs so that it can be used as a table.</p>
            <p><strong><a href="https://patents.google.com/patent/US10123612B2" target="_blank" rel="noopener noreferrer">U.S. Patent No. 10,123,612</a></strong> - Nesting Pull Out Leg is a unique leg design that can be used with folding tables, awnings, and more.</p>
            <p><strong><a href="https://patents.google.com/patent/US10244863B2" target="_blank" rel="noopener noreferrer">U.S. Patent No. 10,244,863</a></strong> - A unique folding shelf that can be easily moved into a cabinet with doors.</p>
            <p><strong><a href="https://patents.google.com/patent/US10315674B2" target="_blank" rel="noopener noreferrer">U.S. Patent No. 10,315,674</a></strong> - Portable storage device with pivoting wheel assemblies.</p>
            <p><strong><a href="https://patents.google.com/patent/US10527221B2" target="_blank" rel="noopener noreferrer">U.S. Patent No. 10,527,221</a></strong> - The Austin table: 3 table surfaces that can be locked at different heights.</p>
            <p><strong><a href="https://patents.google.com/patent/US10647341B2" target="_blank" rel="noopener noreferrer">U.S. Patent No. 10,647,341</a></strong> - A box on wheels with 2 different extendable table surfaces.</p>
        </div>
    </div>
</div>
    <br>
{% endblock %}